/* Using margin:auto; will not work in IE8 and earlier, unless a !DOCTYPE is declared. */

body {
    background: black;
    min-width: 980px; // 1000
}
a {
    color: black;
}
#topbanner{
    background: black;
    width: 100%;
    height: 150px;
    //background-image: url('pic/backtitle.png');
    //background-repeat: repeat;
    //background-size: contain;
    //background-size: cover;
}
#bannerpic{
    //border: 1px black solid;
    //background: blue;
    //background: rgba(216,216,216,0.3);
    //background: rgba(255,255,255,0.8);
    background-image: url('pic/backtitle.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 900px;
    height: 148px;
    margin: 0 auto;
}
#seepast {
    width:900px;
    //background: rgba(255,255,255,0.8);
    //background: rgba(216,216,216,0.3);
    //background: rgba(265,265,265,0.9);
    background: rgba(160,160,160,0.5); 
}
#logoleft {
    width: 236px;
    height: 148px;
}
#logomiddle {
    height: 148px;
    width: 420px;
    //border: solid red 1px;
}
#logoright {
    width: 236px;
    height: 148px;
    float: right;
}



/* ====== MENU ======= */
#menu {
    display: block;
    position: relative;
    z-index: 2;
    background-color: rgb(144,144,144);
    width: 100%;
    height: 40px;
    font-weight: bold;
    border: 1px black solid;
}
#menuNav{
    //background: coral;
    background-color: rgb(208,208,208);
    width: 750px;
    height: 30px;
    margin: 5px auto 0px auto;
    padding: 0;
    text-align: center;
    //border: solid red 2px;
}
#menuNav ul ul {
	display: none;
}
#menuNav ul li:hover > ul {
    display: block;
}
#menuNav ul {
    padding: 0px 0px;
    margin: 0;
    list-style: none;
    position: relative;
    display: inline-table;
}
#menuNav ul:after {
    content: "";
    clear: both;
    display: block;
    //background: black;
}
#menuNav ul li {
    float: left;
    border: solid black 1px;
    height: 28px;
    margin: 0 10px;
    background: white;
    //background: rgb(144,144,144);
}
/*#menuNav ul li:hover {       // not working
    background-color: green;
    //background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    //background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    //background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}*/
#menuNav ul li:hover a {
    color: red;
}
#menuNav ul li a {
    display: block; 
    padding: 5px 10px;
    color: black; 
    text-decoration: none;
}
#menuNav ul ul {
    background: gold; 
    border-radius: 0px; 
    padding: 0;
    position: absolute; 
    top: 100%;
}
/*#menuNav ul ul li {
    float: none;
    margin: 0;
    //border-top: 1px solid white;
    //border-bottom: 1px solid white;
    position: relative;
    margin-left: -3px;   center 
}*/
#about #abouts li {
    float: none;
    margin: 0;
    //border-top: 1px solid white;
    //border-bottom: 1px solid white;
    position: relative;
    margin-left: -3px;  /* center */ 
}
#how #hows li{
    float: none;
    margin: 0;
    //border-top: 1px solid white;
    //border-bottom: 1px solid white;
    position: relative;
    margin-left: -12px;  /* center */
}
#menuNav ul ul li a {    
    padding: 5px 10px;
    color: mediumvioletred;
}
#menuNav ul ul li a:hover {
    background: black;
}


/* *****  DONATE BUTTON ***** */
#donate {
    //background: white;
    //margin: 5px 10px 5px 0px;
    //padding: 5px 10px 5px 5px;
    //float: right;
    position: fixed;
    top: 250px;
    left: 0px;
    //background-color: coral;
    //border-top: 2px black solid;
    //border-right: 2px black solid;
    //border-bottom: 2px black solid;
    z-index: 3;
    //height: 142px;
}
#fblink {
    width: 38px;
    height: 38px;
    margin-bottom: 10px;
    background-color: blue;
    border-top: solid black 2px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#fbimg {
    padding: 0;
    margin: 0;
    width: 38px;
    height: 38px;   
}
#dlink {
    position:relative;
    width: 40px;
    //height: 140px;
    padding: 5px 0 5px 0;
    background-color: coral;
    border-top: solid black 2px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    text-align: center;
    z-index: 3;
    //margin: 10px 0 0 0;
    //opacity: .99;
    
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#donate a{
    text-decoration: none;
    font-size: larger;
    font-weight: 900;
}
#dinfo {
    display: inline;
    float: right;
    background-color: white;
    padding: 0;
    margin: 0;
    width: 140px;           /* show and hide donate info*/
    height: 145px;
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    z-index: 1;
    
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#cinfo {
    //display: inline;
    padding: 0 5px 0 0;
    text-align: center;
    position: relative;
    float:right;
    top: -138px;        /* adjusts height of*/
    width: 80px;
    //height: 120px;
    //border: solid blue 1px;
    z-index: 1;
}

    /* *****  QUOTES ***** */
    /* all pages except index.php*/
#main {
    position: relative;
    //background: rgb(0,0,0);
    //background: rgba(255,255,255,0.5);
    background-image: url('pic/theycanttakethatawayfrommeFULL2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    //opacity: .2;
    width: 900px;
    //height: auto;
    margin: 0px auto 0px auto;
    padding: 0 0 0 0;
    //border: yellow solid 1px;
}
#info {
    //background-color: grey;
    background: rgba(0,0,0,0.5); /* and opacity*/
    padding: 12px 0 12px 0;
    margin: 0px 0 0 0;
    //opacity: 0.9;
    //background:;
    //border: solid red 2px;
    //height: auto;
    //opacity: .8;
    //z-index: 3;
}
#quotes{
    text-align: center;
    width: 800px;
    padding: 10px;
    margin: 5px auto 0 auto;
    //border: solid red 1px;
    //background-color: yellow;
    background: rgb(240,240,240);
}
.quotes {
    text-align: center;
    width: 800px;
    padding: 10px;
    margin: 5px auto 0px auto;
    //border: solid red 1px;
    //background-color: yellow;
    background: rgb(240,240,240);
}
.author{
    font-weight: bold;
    padding: 0px;
    margin: 0 auto 0 auto;
    //border: red solid 1px;
    //width: 200px;
    display: inline-block;
}
.author p{
    padding: 0;
    margin: 0 auto 0 auto;
}

/*#main ol{
    width: 600px;
    //text-align: justify;
    margin: 0;
}
#main ul {
    //display: inline-block;
    //width: 500px;
    text-align: justify;
    margin:  0;
}
#main ul li{
    padding: 5px 0;
}*/
h2{
    padding: 0;
    text-align: center;
}
h3{
    padding: 0 0 0 25px;
}

.intro{
    //border: solid 1px blue;
    display: inline-block;
    margin: 0 0 0 25px;
    //padding: 15px;
    width: 570px;
    //height: 380px;
    background: rgba(255,255,255,0.3);
    vertical-align: bottom;
}
.introWide {
    //border: solid red 1px;
    //display: inline-block;
    margin: 0 25px 0 25px;
    padding: 5px 0 5px 0;
    //width: 850px;
    //height: 380px;
    
    background: rgba(255,255,255,0.3);
}
.infoP{
    overflow: auto;
    //clear: both;
    display: inine-block;
    background: rgba(216,216,216,.8);
    //opacity: 1.0;
    //border: solid green 1px;
    padding: 0 10px 0 10px;
    margin: 15px;
    text-align: justify;
    //height: 170px;
    //width: 570px;
}
/*#intro>#introP>p{
    background: white;
}*/
#main #info .p1{
    padding: 0px;
    text-align: justify;
    float: left;
    //border: solid 1px black;
}
#trumpet{
    display: inline-block;
    width: 250px;
    float: right;
    //padding: 15px 25px 0px 0px;
    border: white solid 1px;
    margin: 15px 25px 0px 0px;
}

    /* *****  HISTORY BOOK LINK ***** */
#historyBook{
    display: inline-block;
    float: right;
    margin: 15px 25px 0px 20px;
    border: solid black 1px;
    width: 240px;
    height: 220px;
}
#centerBook{
    display: block;
    margin: 15px auto 15px auto;
    width:250px;
    height:210px;
    border: solid black 1px;
}
#centerBook img{
    width: 250px;
    height: 210px;
    //border: solid red 1px;
}

    /* *****  FOOTER ***** */
#footer{
    //background: red;
    background-color: rgb(144,144,144);
    width: 100%;
    max-height: 50px;
    min-height: 100%;
    border-top: solid black 3px;
}
#footp{
    //background: green;
    background-color: grey;
    width: 690px;
    height: 20px;
    margin: 0 auto 0 auto;
    text-align: center;
    font-weight: bold;
    
}
#footc{
    background: gray;
    width: 220px;
    height: 20px;
    margin: 0 auto 0 auto;
    text-align: center;
    font-weight: bold;
    //padding: 5px;
}