
    /* *****  GALLERY  ***** */
.video{
    border: solid white 2px;
    width: 500px;
    height: 298px;
    margin: 0px auto 25px auto;
}
img
{
    width:100px;
    height:100px;
    
}
img:hover
{
    transition: 500ms ease;
    -webkit-transform: scale(4);
    -moz-transform: scale(4);
    -ms-transform: scale(4);
}
table{
    border: solid 1px red;
    
}
td{
    border: solid 1px yellow;
 
}

.pic {
    display: inline-block;
    width: 160px;
    height: 130px;
}
