html {
    background-color: white;
}
#title {
    text-align: center;
    border-bottom: solid red 2px;
}
h1{
    margin: 0;
    padding: 0;
}

/* * * * * MENU * * * * * * */
#out {
    border-bottom: solid red 2px;
    text-align: center;
    height: 22px;
    padding: 5px 10px;
}
#back {
    display: inline-block;
    float: left;
}
#logout{
    display: inline-block;
    float: right;
}


#content {
    background-color: white;
    width: 700px;
    height: 600px;
    margin: 0 auto 0 auto;
}

/* * * * ADMIN NEWS PAGE * * * * */
#news {
    border: solid black 1px;
    width: 350px;
    margin: 10px auto 0 auto;
    padding: 10px;
}
label {
    margin: 5px;
}
.txtbox {
    margin: 5px;
    width: 300px;
}
textarea {
    margin: 5px;
}
#save {
    width: 100px;
    margin: 0 auto 0 auto;
    //text-align: center;
    //border: solid red 1px;
}
#save input {
    width: 100px;
}
/* * * * * ADD GALLERY * * * * * */
#upfile {
    text-align: center;
    border: solid black 1px;
    width: 350px;
    margin: 10px auto 0 auto;
    padding: 10px;
}

hr {
    border: none;
    height: 1px;
    background-color: purple;
}
/* * * * * DROP GALLERY * * * * * */
#dropfile {
    text-align: center;
    border: solid black 1px;
    width: 650px;
    margin: 10px auto 0 auto;
    padding: 10px;
}
.pic {
    //border-top: solid red 1px;
    border-bottom: solid red 1px;
    display: inline-block;
    width: 160px;
    height: 130px;
    
}
.chbox {
    display: block;
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 0 auto 0 auto;
    //border: solid red 1px;
    //background-color: red;
}
.line {
    display: block;
    width: 120px;
    height:100px;
    margin: 0 auto 0 auto;
    //border: solid red 1px;
    //background-color: red;
}

/* * * * * CONCERTS * * * * * */
#info {
    border: solid black 1px;
    width: 350px;
    margin: 10px auto 0 auto;
    padding: 10px;
}

/* * * * * FOOTER * * * * * */
#footer {
    border-bottom: solid red 2px;
    text-align: center;
    height: 20px;
    //padding: 5px 10px;
    margin: 10px 0;
}