html {
    background-color: white;
}
#title {
    text-align: center;
    border-bottom: solid red 2px;
}
h1{
    margin: 0;
    padding: 0;
}

#out {
    border-bottom: solid red 2px;
    text-align: center;
    height: 23px;
    padding: 5px 10px;
}
/* * * * * MENU * * * * * * */
#back {
    display: inline-block;
    float: left;
}
#logout{
    display: inline-block;
    float: right;
}

/*form {
    margin: 0;
    padding: 0;
}*/
#content {
    background-color: white;
    width: 700px;
    height: 600px;
    margin: 0 auto 0 auto;
}

/* * * * ADMIN NEWS PAGE * * * * */
#news {
    border: solid black 1px;
    width: 500px;
    height: 300px;
    margin: 10px auto 0 auto;
    padding: 10px;
}

label {
    margin: 5px;
}
.txtbox {
    margin: 5px;
    width: 300px;
}
textarea {
    margin: 5px;
}
#save {
    width: 100px;
    margin: 0 auto 0 auto;
    //text-align: center;
    //border: solid red 1px;
}
#save input {
    width: 100px;
}
hr {
    border: none;
    height: 1px;
    background-color: purple;
}