
html {
    background-color: white;
    font-size: 15px;
}

#content {
    background-color: white;
    width: 500px;
    height: 180px;
    margin: 30px auto 0 auto;
}

#title {
    text-align: center;
    border-bottom: solid 2px red;
}
h1 {
    margin: 0;
    padding: 0;
}

#info {
    width: 230px;
    margin: 20px auto 0 auto;
    border: solid black 1px;
    padding: 15px;
}
#info ul {
    margin: 2px;
    padding: 0px;
    list-style: none;
}
#info li {
    text-align: right;
    margin: 2px 0;
}
#center {
    width: 65px;
    margin: 0 auto 0 auto;
    //border: solid red 1px;
}
#center input {
    width: 65px;
}

#error {
    text-align: center;
    border: red solid 1px;
}